-# in app/views/movies/show.html.haml

%h2 Details about #{@movie.title}

%ul#details
  %li
    Rating:
    = @movie.rating
  %li
    Director:
    = @movie.director
  %li
    Released on:
    = @movie.release_date.strftime("%B %d, %Y")

- if @movie.reviews.length>0
  %h2 reviews

  %ul
    - @movie.reviews.each do |review|
      %li
        = "#{review.potatoes} potatoes by #{review.user.name}"

  %ul
    %li
      %b average #{average @movie.reviews} potatoes

- else
  %h2
    no reviews

- if @movie.comments.length>0
  %h2 comments

  %ul
    - @movie.comments.each do |comment|
      %li
        %em= "#{comment.user.name}:"
        "#{comment.comments}"

= if @movie.description
  %h3 Description:

  %p#description= @movie.description

%h3 Actions:

- if current_user and not has_rated @movie
  = form_tag movie_reviews_path(@movie) do
    %label How many potatoes:
    = select_tag 'review[potatoes]', options_for_select(1..5)
    = submit_tag 'Create Review'
- if current_user
  = form_tag movie_comments_path(@movie) do
    = text_field_tag 'comments'
    = submit_tag 'Give comment'
- if is_admin
  = button_to 'Delete', movie_path(@movie), :method => :delete, :confirm => 'Are you sure?'
  %br
  = link_to 'Edit', edit_movie_path(@movie)
%br
= link_to 'Find Movies With Same Director', withsamedirector_path(@movie)
%br
= link_to 'Back to movie list', movies_path
